.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card_Container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin: 2px;
  width: 110px;
}

.Card_Container img {
  margin: 10px;
  width: 80px;
}

