/* .profile_top_icon {
  background: url('../images/profileIcon.svg') no-repeat left center;
  height: 50px;
  width: 100px;
}

.search_top_icon {
  background: url('../images/searchIcon.svg') no-repeat left center;
  height: 50px;
  width: 100px;
} */
